* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* primo contenitore caratteristiche */
.container {       
height: 500px;
margin: 0 auto;

}

header {
   background-image: url(../img/jumbo.png);
   background-size: contain;
   color: white;
}

.cornice {
   width: 80%;
    margin: auto;
    height: 20px;

}

.logo-1 {
   display: flex;
   justify-content: space-around;
}
.logo-2 {
   width: 50%;
    margin: auto;
    height: 400px;
    text-align: center;
    margin-top: 25px;
}
p {
   padding: 50px;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* caratteristiche contenitore centrale */
.container-box {
    width: 80%;
    margin: auto;
    height: 500px;
}
.flexbox {
   display: flex;
   flex-direction: row;
   }
   /* primi 2 box all'interno del contenitore */
  img {
   margin-top: 20px;
  }
 .child-1 {
   
    height: 500px;
    width: 60%;
 }
 .child-2 {
   
    height: 500px;
    width: 40%;
 }
 .prima {
   background-color: white;
 }
 .seconda {
   background-color: rgb(94, 174, 184);
 }
 .terza {
   background-color: white;
   height: 500px;
   margin: 1px solid red;
 }
    h2 {
      font-family: calistoga;
      margin-left:12%;
     margin-top:14%;
     
 }
 h1 {
   font-family: calistoga;
 }
 .paragrafo {
   padding: 40px;
 }
  /* box terza fascia */
  .child-3 {
    background-color: yellow;
    height: 500px;
    width: 50%;
    border: 1px solid blue;
  }
 /* quarta fascia */
 .final {
    width: 80%;
    margin: auto;
    height: 700px;
    
 }

 
 /* fascia finale */
 .flex-finale {
    display: flex;
    flex-direction: row;
    
    

 }
 .table {
    width: 40%;
    height: 350px;
    background-color: black;
 }
 .table-2 {
    background-color: black;
    width: 15%;
    height: 350px;
    
 }

.container-box-ultimo {
    width: 80%;
    margin: auto;
    height: 500px;
    margin-top: 20px;
}
 /* ultimo contenitore */
.footer {
    width: 80%;
    margin: auto;
    height: 100px;
    margin-top: 10px;
}
div {
   text-align: center;
}
.container-box-doble{
   width: 100%;
   margin: auto;
   height: 900px;
   
}
button {
   margin-top: 20px;
   border-radius: 20px;
   display: inline-block;
   padding: 4px 3px;
   line-height: 30px;
   text-align: center;
   background-color: rgb(8, 125, 236);
   color: white;
   font-weight: bold;
   border-color:rgb(8, 125, 236) ;

}
.bag {
   margin-bottom: 10px;
}
.logo-4 {
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}

 .table-2 h2 {
   color:rgb(8, 125, 236) ;
}
h4 {
   font-size: 30px;
   margin-top: 25px;
   color:rgb(8, 125, 236)  ;
}
span {
   color: white;
}
h3 {
   color: white;
}
.black {
   background-color: black;
}

body {
   background-color: black;
}


.container-box-doble h1 {
   padding: 15px;
}
.star {
   
   background-image: url("../img/stars.svg");
   padding-top: 15px;
   padding-left: 25px;
   padding-right: 25px;
   background-repeat: no-repeat;
   background-position: center;
}
.table-2 h3 {
   font-size: 15px;
}
.wave-1hkxOo {
   background-color: white;
   color: rgb(94, 174, 184);
   display: block;
}